transformers==4.57.*;platform_system=='Linux'
git+https://github.com/facebookresearch/fairseq.git@main; sys_platform == 'linux' or sys_platform == 'darwin'
OpenNMT-py==2.2.*;sys_platform=='linux' or sys_platform=='darwin'
pytest
wurlitzer==3.0.*;sys_platform=='linux'
torch==2.6
