name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master

jobs:
  build-and-test-cpp-x86_64:
    runs-on: ${{ matrix.os }}
    env:
      CT2_VERBOSE: 1
    strategy:
      matrix:
        os: [ubuntu-22.04]
        backend: [mkl, dnnl]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Intel oneAPI
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          sudo apt-key add *.PUB
          sudo sh -c 'echo "deb https://apt.repos.intel.com/oneapi all main" > /etc/apt/sources.list.d/oneAPI.list'
          sudo apt-get update

      - name: Configure with MKL
        if: startsWith(matrix.os, 'ubuntu') && matrix.backend == 'mkl'
        env:
          CT2_USE_MKL: 1
          MKL_VERSION: 2023.0.0
        run: |
          sudo apt-get install -y intel-oneapi-mkl-devel-$MKL_VERSION
          cmake -DCMAKE_INSTALL_PREFIX=$PWD/install -DBUILD_TESTS=ON .

      - name: Configure with DNNL
        if: startsWith(matrix.os, 'ubuntu') && matrix.backend == 'dnnl'
        env:
          DNNL_VERSION: 2023.0.0-25399
        run: |
          sudo apt-get install -y intel-oneapi-dnnl-devel=$DNNL_VERSION intel-oneapi-dnnl=$DNNL_VERSION
          cmake -DCMAKE_INSTALL_PREFIX=$PWD/install -DBUILD_TESTS=ON -DWITH_MKL=OFF -DOPENMP_RUNTIME=COMP -DWITH_DNNL=ON .

      - name: Build
        run: |
          make -j $(nproc) install

      - name: Download test data
        working-directory: tests/data/models
        run: |
          wget https://opennmt-models.s3.amazonaws.com/pi_lm_step_5000.pt
          wget https://opennmt-models.s3.amazonaws.com/transliteration-aren-all.tar.gz
          tar xf transliteration-aren-all.tar.gz

      - name: Test MKL
        if: matrix.backend == 'mkl'
        env:
          CT2_USE_MKL: 1
        run: |
          tests/ctranslate2_test tests/data
      - name: Test DNNL
        if: matrix.backend == 'dnnl'
        run: |
          tests/ctranslate2_test tests/data
          
 

  build-and-test-cpp-x86_64-thread_sanitizer:
    runs-on: ubuntu-22.04
    env:
      CT2_VERBOSE: 1

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Intel oneAPI
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          sudo apt-key add *.PUB
          sudo sh -c 'echo "deb https://apt.repos.intel.com/oneapi all main" > /etc/apt/sources.list.d/oneAPI.list'
          sudo apt-get update

      - name: Install MKL
        env:
          MKL_VERSION: 2023.0.0
        run: |
          sudo apt install -y intel-oneapi-mkl-devel-$MKL_VERSION

 

      - name: Install Clang2
        run: |  
          NPROC=$(nproc)
          git clone --depth 1 --branch llvmorg-7.0.1 --recurse-submodules -j$NPROC https://github.com/llvm/llvm-project
          cd llvm-project
          mkdir build
          cd build
          cmake -DLIBOMP_TSAN_SUPPORT=1 ../openmp
          sudo cmake --build . --target install --parallel $NPROC 

#          sudo and --target install is optional if you adjust the path to libomp.so below

      - name: Configure with MKL
        env:
          CT2_USE_MKL: 1
        run: |
          cmake -DCMAKE_INSTALL_PREFIX=$PWD/install -DBUILD_TESTS=ON -DCMAKE_C_COMPILER=/usr/bin/clang -DCMAKE_CXX_COMPILER=/usr/bin/clang++ -DENABLE_THREAD_SANITIZER=ON -DCMAKE_BUILD_TYPE=Debug .

      - name: Build
        run: |
          make -j $(nproc) install

      - name: Download test data
        working-directory: tests/data/models
        run: |
          wget https://opennmt-models.s3.amazonaws.com/pi_lm_step_5000.pt
          wget https://opennmt-models.s3.amazonaws.com/transliteration-aren-all.tar.gz
          tar xf transliteration-aren-all.tar.gz

      - name: Test ThreadSanitizer
        env:
          CT2_USE_MKL: 1
        run: |
          ldd /usr/local/lib/libomp.so
          LD_PRELOAD=/usr/local/lib/libomp.so TSAN_OPTIONS=halt_on_error=1 tests/ctranslate2_test tests/data

  build-and-test-cpp-x86_64-thread_sanitizer_NOLLVMOPENMP:
    runs-on: ubuntu-22.04
    env:
      CT2_VERBOSE: 1

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Intel oneAPI
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          sudo apt-key add *.PUB
          sudo sh -c 'echo "deb https://apt.repos.intel.com/oneapi all main" > /etc/apt/sources.list.d/oneAPI.list'
          sudo apt-get update

      - name: Install MKL
        env:
          MKL_VERSION: 2023.0.0
        run: |
          sudo apt install -y intel-oneapi-mkl-devel-$MKL_VERSION

      - name: Install Clang
        run: |
          sudo apt install -y clang  

      - name: Configure with MKL
        env:
          CT2_USE_MKL: 1
        run: |
          cmake -DCMAKE_INSTALL_PREFIX=$PWD/install -DBUILD_TESTS=ON -DCMAKE_C_COMPILER=/usr/bin/clang -DCMAKE_CXX_COMPILER=/usr/bin/clang++ -DENABLE_THREAD_SANITIZER=ON -DCMAKE_BUILD_TYPE=Debug .

      - name: Build
        run: |
          make -j $(nproc) install

      - name: Download test data
        working-directory: tests/data/models
        run: |
          wget https://opennmt-models.s3.amazonaws.com/pi_lm_step_5000.pt
          wget https://opennmt-models.s3.amazonaws.com/transliteration-aren-all.tar.gz
          tar xf transliteration-aren-all.tar.gz

      - name: Test ThreadSanitizer
        env:
          CT2_USE_MKL: 1
        run: |
          TSAN_OPTIONS=halt_on_error=1 tests/ctranslate2_test tests/data

